body {
  background-image: url(https://images.pexels.com/photos/4321069/pexels-photo-4321069.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

.App {
  max-width: 930px;
  margin: 0 auto;

}

.App-footer {
  text-align: center;
  font-size: 10px;
  margin: 30px
}

.App h1{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}