body {
  background: #edbed5;
}

.App {
  max-width: 930px;
  margin: 0 auto;

}

.App-footer {
  text-align: center;
  font-size: 10px;
  margin: 30px
}

.App h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}